@import "compass";
@import "compass/layout";

/*************(2) Variable Delcarations*************/
/*************(3) Default Variable*************/
$primary: #DCDBE0 !default;
$secondary: #8A849D !default;
$buttonradius: 5px;
$theme : normal;

/*************(1) End-of-line Comment*************/
//This is an end-of-line comment

/*************(5) Mixin With Argument*************/
@mixin buttoncolor($num){
/*************(12) Color Math*************/
	background: $secondary + (25 * $num);
}

body {
/*************(9) An If Statement*************/
	@if $theme == normal {
		background: $secondary;
		font-family: Sans-Serif;
	}
	@else {
		background: invert($secondary);
		font-family: Serif;
	}
}

/*************(7) Placeholder Selector*************/
%box {
	max-width: 700px;
	min-width: 475px;
	background: $primary;
	margin: auto;
	border: 2px solid #514670;
	border-radius: 15px;
/*************(6) Compass Mixin*************/
	@include box-shadow(-2px 4px 3px -1px #6B6385);
}

.account {
	@extend %box;
	margin-top: 40px;
/*************(4) Nesting*************/
	h1{
		text-align: center;
	}
}

.footer{
	@extend %box;
	margin-top: 20px;
	h4{
		text-align: center;
	}
}

%tablewidth {
	width: 70%;
	margin: auto;
}

.textinput{
	@extend %tablewidth;
	input{
		width: 100%;
	}
}

$i: 1;
.buttontable{
	text-align: center;
	@extend %tablewidth;
/*************(8) A @While Loop*************/
	@while $i < 4 {
/*************(10) Interpolation*************/
		.btn-#{$i}{
			@include buttoncolor($i);
			border-radius: $buttonradius;
			&:active{
				font-weight: bold;
				text-decoration: underline;
			}
		}
		$i: $i + 1
	}
}

.selectors{
	overflow: auto;
	@extend %tablewidth;
}

.radio{
	$floatdir: right;
	float: $floatdir;
	text-align: $floatdir;
	ul{
		list-style-type: none;
		li{
			float: $floatdir;
		}
	}
}

.checkbox{
	float: left;
	ul{
		list-style-type: none;
		padding-left: 0px;
		margin-left: 0px;
	}
}

.submit{
	margin: auto;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
	button{
		width: 80px;
		height: 30px;
		border-radius: $buttonradius;
/*************(13) Color Mix*************/
		background: mix($secondary, $primary);
/*************(11) Parent Selector*************/
		&:hover{
			background: invert($secondary);
			color: yellow;
		}
	}
}
