/*************(2) Variable Delcarations*************/
/*************(3) Default Variable*************/
/*************(1) End-of-line Comment*************/
/*************(5) Mixin With Argument*************/
/* line 20, ../sass/styles.scss */
body {
  /*************(9) An If Statement*************/
  background: #8a849d;
  font-family: Sans-Serif;
}

/*************(7) Placeholder Selector*************/
/* line 33, ../sass/styles.scss */
.account, .footer {
  max-width: 700px;
  min-width: 475px;
  background: #dcdbe0;
  margin: auto;
  border: 2px solid #514670;
  border-radius: 15px;
  /*************(6) Compass Mixin*************/
  -webkit-box-shadow: -2px 4px 3px -1px #6b6385;
  -moz-box-shadow: -2px 4px 3px -1px #6b6385;
  box-shadow: -2px 4px 3px -1px #6b6385;
}

/* line 44, ../sass/styles.scss */
.account {
  margin-top: 40px;
  /*************(4) Nesting*************/
}
/* line 48, ../sass/styles.scss */
.account h1 {
  text-align: center;
}

/* line 53, ../sass/styles.scss */
.footer {
  margin-top: 20px;
}
/* line 56, ../sass/styles.scss */
.footer h4 {
  text-align: center;
}

/* line 61, ../sass/styles.scss */
.textinput, .buttontable, .selectors {
  width: 70%;
  margin: auto;
}

/* line 68, ../sass/styles.scss */
.textinput input {
  width: 100%;
}

/* line 74, ../sass/styles.scss */
.buttontable {
  text-align: center;
  /*************(8) A @While Loop*************/
  /*************(10) Interpolation*************/
  /*************(10) Interpolation*************/
  /*************(10) Interpolation*************/
}
/* line 80, ../sass/styles.scss */
.buttontable .btn-1 {
  /*************(12) Color Math*************/
  background: #a39db6;
  border-radius: 5px;
}
/* line 83, ../sass/styles.scss */
.buttontable .btn-1:active {
  font-weight: bold;
  text-decoration: underline;
}
/* line 80, ../sass/styles.scss */
.buttontable .btn-2 {
  /*************(12) Color Math*************/
  background: #bcb6cf;
  border-radius: 5px;
}
/* line 83, ../sass/styles.scss */
.buttontable .btn-2:active {
  font-weight: bold;
  text-decoration: underline;
}
/* line 80, ../sass/styles.scss */
.buttontable .btn-3 {
  /*************(12) Color Math*************/
  background: #d5cfe8;
  border-radius: 5px;
}
/* line 83, ../sass/styles.scss */
.buttontable .btn-3:active {
  font-weight: bold;
  text-decoration: underline;
}

/* line 92, ../sass/styles.scss */
.selectors {
  overflow: auto;
}

/* line 97, ../sass/styles.scss */
.radio {
  float: right;
  text-align: right;
}
/* line 101, ../sass/styles.scss */
.radio ul {
  list-style-type: none;
}
/* line 103, ../sass/styles.scss */
.radio ul li {
  float: right;
}

/* line 109, ../sass/styles.scss */
.checkbox {
  float: left;
}
/* line 111, ../sass/styles.scss */
.checkbox ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

/* line 118, ../sass/styles.scss */
.submit {
  margin: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
/* line 123, ../sass/styles.scss */
.submit button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  /*************(13) Color Mix*************/
  background: #b3afbe;
  /*************(11) Parent Selector*************/
}
/* line 130, ../sass/styles.scss */
.submit button:hover {
  background: #757b62;
  color: yellow;
}
